@import url('https://fonts.googleapis.com/css?family=Abel|Dosis|Fjalla+One|Montserrat|Noto+Sans+JP|PT+Sans+Caption|PT+Sans+Narrow|Playfair+Display|Reem+Kufi|Ropa+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background-color: #f1f1f1;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6rem;
}


h2 {
    color: red;
}

p {
    color: green;
}